---
# Frontmatter comment
---

$base-font-family: 'Lato', Helvetica, sans-serif;
$header-font-color: white;
$primary-text-color: white;
$nav-divider-start-margin: 28vh;
$nav-divider-end-margin: 50vh;

@import "default.scss";
@import "home.scss";
