body {
	display: block;
	margin: 0;
	font-family: $base-font-family;
	font-weight: lighter;
	color: $primary-text-color;
}

.wrapper {
	background-color: #2698c1;
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
	justify-content: center;
	transition: background-color 1.25s;
}

.wrapper-home {
	background-color: #2698c1;
}

.wrapper-about {
	background-color: #2aa374;
}

.wrapper-projects {
	background-color: #d85b45;
}

.wrapper-links {
	background-color: #af48a2;
}
