.nav-wrapper {
	align-self: center;
}

.nav-conainter {
	font-size: 45px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	flex-direction: column;
	justify-content: space-between;
}

.nav-conainter > li {
	margin: 3vh 0vh 3vh 0vh;
}

li:first-child {
	margin-top: 0vh;
}

li:last-child {
	margin-bottom: 0vh;
}

a {
	text-decoration: none;
	color: #292c2d;
}

a:hover {
	color: white;
}

.active-link {
	color: white;
}

.close-divider {
	animation: closeDivider 450ms ease forwards;
}

.open-divider {
	animation: openDivider 450ms ease forwards;
}

.copy-container {
	align-self: center;
	display: flex;
	align-items: center;
	max-width: 44vw;
	min-width: 44vw;
}

.slide-element-out {
	animation: slideOutFrames 450ms cubic-bezier(0.56, 0.01, 0.9, 0.6) 0s forwards;
}

.slide-element-in {
	animation: slideInFrames 450ms cubic-bezier(0.56, 0.01, 0.9, 0.6) 0s forwards;
}

@keyframes slideOutFrames {
	0% {
		transform: translate(0vw);
		opacity: 1;
	} 100% {
		transform: translate(-15vw);
		opacity: 0;
	}
}

@keyframes slideInFrames {
	0%{
		transform: translate(-15vw);
		opacity: 0;
	} 100% {
		transform: translate(0vw);
		opacity: 1;
	}
}

.copy-wrapper {
	max-height: 75vh;
	overflow-y: auto;
}

.hidden-copy {
	display: none;
}

.about-copy {
	flex-wrap: wrap;
}

.about-copy h2 {
	width: 240px;
	order: 0;
}

.about-copy p {
	margin-top: 16px;
	order: 2;
}

.projects-copy h2 {
	width: 226px;
}

.links-copy h2 {
	width: 360px;
}

.link-card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.link-card {
	background-size: 85% 85%;
	height: 16vw;
	width: 16vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link-card a {
	width: 100%;
	height: 100%;
}

.card-text {
	align-self: flex-end;
	color: black;
	font-weight: bold;
	margin: 0;
}

.link-card:nth-child(1) {
	background-image: url(../assets/github-6-256.ico);
	background-position-x: center;
	background-position-y: center;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}

.link-card:nth-child(2) {
	background-image: url('../assets/stackoverflow-256.ico');
	background-position-x: center;
	background-position-y: center;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}

.link-card:nth-child(3) {
	background-image: url('../assets/cv.png');
	background-position-x: center;
	background-position-y: center;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}

.portrait-container {
	background: url('../assets/headShot.jpg') no-repeat center;
	shape-outside: circle();
	float: right;
	background-size: cover;
	order: 1;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

h1 {
	border: 0px;
	font-size: 80px;
	color: $header-font-color;
	font-weight: lighter;
	margin: 0px;
}

h2 {
	color: $header-font-color;
	font-size: 50px;
	font-weight: lighter;
	margin: 0px;
	border-bottom: 1px solid white;
}

p {
	font-size: 18px;
}

// Small desktop
@media (max-width: 840px) and (min-width: #{$mobile-layout-pixels + 1}) {
	h2 {
		font-size: 36px;
	}
	.about-copy h2 {
		width: 170px;
	}
	.projects-copy h2{
		width: 161px;
	}
	.links-copy h2 {
		width: 250px;
	}
	.copy-container {
		min-width: 65vw;
		max-width: 65vw;
	}
	.nav-conainter {
		font-size: 35px;
	}
	.link-card {
		height: 20vw;
	  width: 20vw;
	}
}

// Tablet+
@media (min-width: $mobile-layout-pixels) {
	.nav-divider {
		border-right: 2px solid $primary-text-color;
		margin-top: $nav-divider-start-margin;
		margin-bottom: $nav-divider-start-margin;
		margin-left: 2vw;
		margin-right: 2vw;
	}
	@keyframes closeDivider {
		0% {
			margin-top: $nav-divider-start-margin;
			margin-bottom: $nav-divider-start-margin;
		} 100% {
			margin-top: $nav-divider-end-margin;
			margin-bottom: $nav-divider-end-margin;
		}
	}
	@keyframes openDivider {
	 0% {
		 margin-top: $nav-divider-end-margin;
		 margin-bottom: $nav-divider-end-margin;
	 } 100% {
		 margin-top: $nav-divider-start-margin;
		 margin-bottom: $nav-divider-start-margin;
	 }
	}
}

// Mobile
@media (max-width: $mobile-layout-pixels) {
	.about-copy {
		padding-left: 10px;
		padding-right: 10px;
	}
	.about-copy h2 {
		display: none;
	}
	.portrait-container {
		margin: auto;
		float: none;
		width: 120px;
		height: 120px;
	}
	h1 {
		font-size: 75px;
	}
	h2 {
		font-size: 36px;
    margin: auto;
	}
	.projects-copy {
		padding-left: 10px;
		padding-right: 10px;
	}
	.projects-copy h2 {
		width: 175px;
	}
	.links-copy h2 {
		width: 265px;
	}
	li {
		display: inline;
	}
	.nav-divider {
		border-bottom: 2px solid $primary-text-color;
		margin-left: 15vw;
		margin-right: 15vw;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
	.nav-conainter {
		padding: 0px;
		margin-top: 2vh;
		font-size: 23px
	}
	.copy-container {
		min-width: none;
		max-width: none;
	}
	.copy-wrapper {
		text-align: center;
		max-height: none;
		overflow-y: auto;
	}
	@keyframes closeDivider {
		0% {
			margin-right: 15vw;
			margin-left: 15vw;
		} 100% {
			margin-right: 50vw;
			margin-left: 50vw;
		}
	}
	@keyframes openDivider {
	 0% {
		 margin-right: 50vw;
		 margin-left: 50vw;
	 } 100% {
		 margin-right: 15vw;
		 margin-left: 15vw;
	 }
	}
	.links-copy h2 {
		display: none;
	}
	.link-card {
		height: 45vw;
		width: 45vw;
	}
}
