---
layout: default
---

<div class="content-container">
	<ul class="nav-conainter">
		<li><a href="#" id="homeLink" onclick="selectNav('homeLink');">Home</a></li>
		<li><a href="#" id="aboutLink" onclick="selectNav('aboutLink');">About</a></li>
		<li><a href="#" id="projectsLink" onclick="selectNav('projectsLink');">Projects</a></li>
		<li><a href="#" id="linksLink" onclick="selectNav('linksLink');">Links</a></li>
	</ul>

	<div class="nav-divider">
		
	</div>

	<div class="copy-container">
		{{ content }}
	</div>
</div>

