---
layout: default
---

<div class="content-container">
	<div class="nav-wrapper">
		<ul class="nav-conainter">
			<li><a href="#" id="home-link" onclick="selectNav('home');">Home</a></li>
			<li><a href="#" id="about-link" onclick="selectNav('about');">About</a></li>
			<li><a href="#" id="projects-link" onclick="selectNav('projects');">Projects</a></li>
			<li><a href="#" id="links-link" onclick="selectNav('links');">Links</a></li>
		</ul>
	</div>

	<div class="nav-divider">

	</div>

	<div class="copy-container">
		<div class="copy-wrapper">
			<div id="home-copy">
				{% capture home %}{% include home.md %}{% endcapture %}
				{{ home | markdownify }}
			</div>
			<div id="about-copy">
				{% capture about %}{% include about.md %}{% endcapture %}
				{{ about | markdownify }}
			</div>
			<div id="projects-copy">
				{% capture projects %}{% include projects.md %}{% endcapture %}
				{{ projects | markdownify }}
			</div>
			<div id="links-copy">
				{% capture links %}{% include links.md %}{% endcapture %}
				{{ links | markdownify }}
			</div>
		</div>
	</div>
</div>
